{% block title %} <strong> Sign up </strong> {% endblock %}
<br><br>

{% load crispy_forms_tags %}

{% block content %}

<form action = "{% url 'welcome:register' %}" method = 'POST'> 

    {% csrf_token %}
    {{ form|crispy}}

    {% comment %} <input type = 'checkbox' id = 'staff'>
    <label for 'staff'> I am a teacher </label>

    <input type = 'checkbox' id = 'user'>
    <label for 'user'> I am a student </label>
    <br><br>  {% endcomment %}

    <button type = 'submit'> <a href = "{% url 'welcome:login' %}" > Register </a> </button>

</form>

{% endblock %}