{% extends "lessons/base.html" %}
{% block title %} Topics {% endblock %}

{% block content %}
{% if user.is_authenticated %}

    {% if video_list %}
        <ul>
        <a><strong> Topics: </strong></a>
        <br><br>
        {% for video in video_list %}
            <li><a href = "{{ video.id }}"> {{ video.video_name }} </a></li>
            <a> {{ video.video_content }} </a>
        {% endfor %}
        </ul>
    {% else %}
    <br><br>
        <p>No videos are available.</p>
        <a href = "{% url 'lessons:index' %}"> Go back to subjects. </a>
    {% endif %}
{% else %}
    <P> <strong> Please log in </strong> </p>
    <a href = "{% url 'welcome:login' %}"> Log in </a> 
    <br><br>
    <a href = "{% url 'welcome:register' %}"> Register </a>
{% endif %} 
{% endblock %}